.community{
    padding-left: 2rem;
    width: 30%;
}
.community-firstbox{
    border-radius: 10px;
    width: 100%;
    background-color: white;
    padding-bottom: 0.5rem;
}
.community-details{
    color: white;
    background-color: #0079D2;
    padding: 1rem 0rem 1rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.06rem;
    font-weight: 500;
}
.community-flex{
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}
.community-title{
    color: black;
    font-size: 1rem;
    padding: 0.5rem;
    letter-spacing: 0.06rem;
    font-weight: 500;
}
.community-members-flex{
    display: flex;
    align-items: center;
}
.community-members{
    padding-left: 1rem;
}
.community-members-num{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
}
.community-members-text{
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    padding-top: 0.3rem;
}
.community-members2{
    padding-left: 4rem;
}
.welcome-to-rstartup{
    padding: 1rem 0 1rem 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
}
.join{
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0rem 1rem;
    color: white;
    background-color: #0079D2;
    padding: 0.5rem 8rem;
    text-align: center;
    border: 2px solid #0079D2;
    border-radius: 5px;
    letter-spacing: 0.06rem;
}
.createpost{
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0.5rem 1rem;
    color: white;
    background-color: #0079D2;
    padding: 0.5rem 5.9rem;
    text-align: center;
    border: 2px solid #0079D2;
    border-radius: 5px;
    letter-spacing: 0.06rem;
}
.rstartup-rules-box{
    margin: 1.5rem 0;
    border-radius: 5px;
    width: 100%;
    background-color: white;

}
.rstartup-rules{
    color: white;
    background-color: #0079D2;
    padding: 1rem 0rem 1rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.06rem;
    font-weight: 500;
}
.rstartup-rules-text{
    color: black;
    font-size: 0.8rem;
    padding: 1rem;
    letter-spacing: 0.06rem;
    font-weight: 500;

}
.moderators-box{
    margin: 1.5rem 0;
    border-radius: 5px;
    width: 100%;
    background-color: white;
}
.moderators{
    color: white;
    background-color: #0079D2;
    padding: 1rem 0rem 1rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.06rem;
    font-weight: 500;
}
.u-ani625{
    font-size: 0.8rem;
    color: #0079D2;
    font-weight: 500;
    letter-spacing: 0.06rem;
    padding: 1rem;
}
.u-dwimback{
    font-size: 0.8rem;
    color: #0079D2;
    font-weight: 500;
    letter-spacing: 0.06rem;
    padding-left: 1rem;
}
.view-all-moderators{
    padding: 1rem;
    margin-left: 7rem;
    font-size: 0.8rem;
    color: #0079D2;
    letter-spacing: 0.06rem;
    font-weight: 500;

}