/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.reddit-text {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  letter-spacing: 0.06rem;
  padding-left: 0.4rem;
}

.startup-text {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  letter-spacing: 0.06rem;
  padding-left: 0.4rem;
  padding-right: 5rem;
}

.nav-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  background-color: #F6F7F8;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
}

.searchbox {
  display: flex;
  align-items: center;
  background-color: #F6F7F8;
  width: 32rem;
  border-radius: 0.5rem;
}

.searchicon {
  padding: 0.5rem;
}

.login {
  font-size: 0.8rem;
  font-weight: 700;
  color: #0079D2;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 2px solid #0079D2;
  border-radius: 5px;
}

.signup {
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  background-color: #0079D2;
  padding: 0.5rem 2rem;
  border: 2px solid #0079D2;
  border-radius: 5px;
}

.hero-flex {
  display: flex;
  align-items: center;
  background-color: #33A8FF;
  padding: 1.3rem 7rem;
}

.hero-logo {
  border: 2px solid white;
  border-radius: 1rem;
}

.hero-text {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  font-weight: 400;
  padding-left: 0.5rem;
}

.sub-hero {
  background-color: #DBEFFF;
  padding: 0.7rem 0rem;
}

.sub-hero-text {
  color: #0079D2;
  padding: 0rem 7rem;
  letter-spacing: 0.06rem;
  font-size: 1rem;
  font-weight: 700;
}

.posts {
  background-color: #DAE0E6;
}

.list {
  background-color: white;
  width: 40rem;
  border-radius: 0.3rem;
  padding: 0rem 0.5rem 3rem 2rem;
  margin-left: 17rem;
  box-shadow: 2px 2px 6px lightgrey;
}

.postedby {
  color: gray;
  padding-top: 0.5rem;
  letter-spacing: 0.04rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.post-title {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  padding: 1rem 0;
}

.self-text {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  letter-spacing: 0.06rem;
  line-height: 1.2;
}

/*# sourceMappingURL=style.css.map */
